{% extends 'admin/default.html' %}
{% block title %}{{ auth.getFullNameOrUsername }}' profile{% endblock %}
{% set brand = 'My Profile' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form action="{{ path_for('user-profile-post', {'username': auth.getUsername}) }}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="position">Position</label>
                                        <input type="text" class="form-control" placeholder="Position"{% if user.position is not empty %} value="{{ user.position }}"{% endif %} name="position" id="position">
                                        {% if errors.has('position') %}
                                        <small class="text-danger">
                                            {{ errors.first('position') }}
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email"{% if user.email is not empty %} value="{{ user.email }}"{% endif %} name="email" id="email" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" placeholder="First Name"{% if user.getFirstName is not empty %} value="{{ user.getFirstName }}"{% endif %} name="first_name" id="first_name">
                                        {% if errors.has('first_name') %}
                                        <small class="text-danger">
                                            {{ errors.first('first_name') }}
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"{% if user.getLastName is not empty %} value="{{ user.getLastName }}"{% endif %} name="last_name" id="last_name">
                                        {% if errors.has('last_name') %}
                                        <small class="text-danger">
                                            {{ errors.first('last_name') }}
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="about_me">About Me</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description" name="about_me" id="about_me">{{ user.about_me }}</textarea>
                                        {% if errors.has('about_me') %}
                                        <small class="text-danger">
                                            {{ errors.first('about_me') }}
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">
                                Update Profile
                            </button>
                            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-gray" src="{{ user.getAvatarUrl({size: 200}) }}" alt="{{ user.getFullNameOrUsername }}'s avatar">
                            <h4 class="title">{{ user.getFullName }}<br />
                                <small>{{ user.username }}</small>
                            </h4>
                        </div>
                        <p class="description text-center">
                            {{ user.about_me }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
