{% extends 'templates/email/default.twig' %}
{% block content %}
	<p>You've changed your password.</p>
	
	<p>If you weren't the one responsible for this change contact the website administrators as your account has been compromised.</p>
{% endblock %}