{% extends 'templates/email/default.twig' %}
{% block content %}

<p class="lead">You've requested a password changed..</p>
<p class="callout">
    Click <a href="{{ base_url }}{{ path_for('password.reset') }}?email={{ user.email }}&identifier={{ identifier|url_encode }}">this link</a> to reset your password.
</p>
<p>
    If you didn't submit this request, someone may be trying to gain access to your account. We reccomend that you take steps to ensure your account is secure.
</p>
{% endblock %}
