{% extends 'templates/email/default.twig' %}
{% block content %}
	<p>
		You've requested a password changed.
	</p>
	<p>
		Click this link to reset your password: {{ baseUrl }}{{ path_for('password.reset') }}?email={{ user.email }}&identifier={{ identifier|url_encode }}
	</p>
	<p>
		If you didn't submit this request, someone may be trying to gain access to your account. We reccomend that you take steps to ensure your account is secure.
	</p>
{% endblock %}