{% extends 'templates/email/default.twig' %}
{% block content %}
<p class="lead">You have registered.</p>
<p class="callout">
    Active your account using <a href="{{ base_url }}{{ path_for('activate')}}?email={{ user.email }}&identifier={{ identifier|url_encode }}">this link</a>
</p>
{% endblock %}
