<div class="sidebar" data-color="azure" data-image="{{ baseUrl() }}/assets/img/sidebar-1.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ baseUrl() }}" class="simple-text">

            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="{{ urlFor('admin') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <!--
<li>
<a href="{{ urlFor('my.profile', {username: auth.username}) }}">
<i class="pe-7s-user"></i>
<p>My Profile</p>
</a>
</li>
-->
            {% if auth.isAdmin %}
            <li>
                <a href="{{ urlFor('user.list') }}">
                    <i class="pe-7s-note2"></i>
                    <p>User List</p>
                </a>
            </li>
            {% endif %}
            {% if auth.isAdmin or auth.isMod %}
            <li>
                <a href="{{ urlFor('admin.post') }}">
                    <i class="pe-7s-news-paper"></i>
                    <p>Write New Posts</p>
                </a>
            </li>
            <li>
                <a href="{{ urlFor('admin.p.l') }}">
                    <i class="pe-7s-note2"></i>
                    <p>Posts List</p>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="icons.html">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
            {% if auth.isAdmin %}
            <li>
                <a href="#0">
                    <i class="pe-7s-settings"></i>
                    <p>Settings</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
